@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&family=Lato&family=Manrope:wght@400;500&family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Questrial&family=Roboto:wght@300;400;500;700;900&family=Ubuntu:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Poppins';
    box-sizing: border-box;
}

.html,body{
    height: 100%;
    width: 100%;
}

.cursor{
    height: 2vh;
    width: 1vw;
    border-radius: 50%;
    position: fixed;
    background-color: #EDBFFF;
    z-index: 8;
    mix-blend-mode: difference;
    transition: all linear 0.1s;
}

.purple{
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    background-color: #d286f1;
    z-index: 11;
    opacity: 0;
    display: none;
    
}

.main{
    background-color: #0f0d0d;
    cursor: none;
 
}

.page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding-top: 10vw;
}

.nav{
    height: 8vh;
    width: 100vw;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 2vw;
    position: fixed;
    mix-blend-mode: difference;
    z-index: 102;
}

.nav img{
    height: 3vw;
}

.nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.nav-part2 h4{
    /* font-sizse: 3vw; */
    text-transform: uppercase;
    font-weight: 500;
}

.nav-part2 h4:nth-child(1){
    border-bottom: 1.5px solid white;
}

.nav .circle{
    height: 3vh;
    width: 1.5vw;
    border-radius: 50%;
    background-color: white;
}

.page1>h1{
    font-size: 6vw;
    font-family: pp  mori;
    font-weight: 400;
    margin-left: 8vw;
}

.page1>h2{
    font-size: 6vw;
    font-family: pp  mori;
    font-weight: 400;
    margin-left: 25vw;
}

.page1 video{
    width: 60vw;
    margin-left: 10vw;
    margin-top: 8vw;
    position: relative;
    left: 40vw;
    transform: translate(-50%,0);
}

.page2{
    height: 100vh;
    width: 100%;
    background-color: #0f0d0d;
    padding: 3vw 0vw;
    border-bottom: 2px solid #555252;
    position: relative;
    z-index: 9;

}

.page2 h1{
    font-size: 7vw;
    font-weight: 400;
    color: black;
    margin-left: 5vw;
}

.page2-container{
    height: 70vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 0 6vw; */
    gap: 35vw;
}

.page2-left{
    width: 30vw;
}

.page2-left h2{
    font-size: 4vw;
    font-weight: 400;
    color: black;
    line-height: 4vw;
}

.page2-right {
    width: 18vw;
}

.page2-container p{
    font-size: 1vw;
    color: black;
}

.page2-right button{
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 4px 0;
    background-color: #EDBFFF;
    color: black;
    font-weight: 500;
    margin-top: 1vw;
}

.page3{
    min-height: 100vh;
    width: 100%;
    padding-top: 3vw;
    position: relative;
    z-index: 9;
}

.page3 h1{
    font-size: 6vw;
    color: black;
    font-weight: 400;
    margin-left: 5vw;
}

.page3-part1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.page3-part1 img{
    width: 30vw;
    margin-top: 8vw;
    margin-left: 2vw;
}

.page3-part1 video{
    height: 50vh;
    margin-left: 20vw;
}

.page3-part2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.page3-part2 img{
    width: 40vw;
    margin-right: 2vw;
}

.page3-part2 video{
    height: 50vh;
    margin-top: 8vw;
    margin-left: -10vw;
}

.page4{
    min-height: 100vh;
    width: 100vw;
    margin-top: 4vw;
    position: relative;
    z-index: 9;
    padding: 5vw;
    /* background-color: gray; */
}

.elem{
    /* background-color: royalblue; */
    /* margin-bottom: 2vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: -2vw;
}

.elem img{
    position: absolute;
    opacity: 0;
    transition: all ease-out 0.5s;
    transform: translateY(10%) rotate(2deg);
}

.elem img:nth-child(1){
    left: -6%;
}

.elem img:nth-child(3){
    right: -5%;
}

.text-div{
    height: 8.5vw;
    overflow: hidden;
}

.elem h1{
    font-size: 6vw;
    font-weight: 400;
    transition: all ease-out 0.5s;
}

.elem:hover h1{
    transform: translateY(-100%);
    color: #EDBFFF;
}

.elem:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);
}

.page5{
    min-height: 100vh;
    width: 100vw;
    /* background-color: red; */
    position: relative;
    z-index: 9;   
    padding: 6vw 4vw; 
}

.page5 h2{
    font-size: 4vw;
    font-weight: 300;
    text-transform: uppercase;
}

.box{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5vw;
    padding: 0vw 1vw;
    border-top: 2px solid white;
}

.box:nth-child(6){
    border-bottom: 2px solid white;
}

.footer{
    height: 117vh;
    width: 100%;
    background-color: #d286f1;
}

.box1{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 14vw 4vw;
    /* padding-top: 10vw; */
}

.footer h1{
    font-size: 6vw;
    font-weight: 400;
    color: black;
}

.contact{
    height: 8vw;
    width: 8vw;
    text-align: center;
    margin-top: 1vw;
    border: 1px solid #EDBFFF;
    border-radius: 50%;
    background-color: #EDBFFF;
}

.contact h6{
    padding: 2.6vw 2.6vw;
    font-size: 0.8vw;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
}

.footer h4{
    color: white;
    padding: 0vw 4vw;
    color: black;
    font-weight: 600;
    /* margin-bottom: 40vw; */
}